---
title: Cloudcheck Go inline verification
type: platform
---

We've extended our Cloudcheck Go integration to support **inline** identity verification in addition to post-submit verification.

This may be useful where you have very complex forms completed over a period of several weeks or months.

Post-submit verification is useful where you want to minimise the upfront hurdles to submission.